<!DOCTYPE html>
<html>

<head>
    <title>Followers Not Following</title>
    <!-- CSS styles here -->
</head>

<body>
    <h1>Followers Not Following</h1>
    <p>Total users not following you: {{ total_users }}</p>
    <table>
        <thead>
            <tr>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in followers_not_following %}
            <tr>
                <td><a href="https://www.instagram.com/{{ user }}/">{{ user }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script>
        // JavaScript code here
    </script>
</body>

</html>
